
body { background-color:aliceblue ;}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 600px; }

h1 { text-align: center;}
h2 { text-align: center;}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 100%; 
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  /* Main content */
  .main {
    margin-top: 100px; 
  }
